/clsAB/EjerciciosStacksALa/build/
/clsAB/EjerciciosStacksALa/nbproject/private/
/clsAB/EjerciciosStacksBAa/build/
/clsAB/EjerciciosStacksBAa/dist/
/clsAB/EjerciciosStacksBAa/nbproject/private/
/clsAB/ADTs01-1a/dist/
/clsAB/Fld1erExmEM23/Pry1erExmEM23/build/
/clsAB/Fld1erExmEM23/Pry1erExmEM23/nbproject/private/
/clsAB/Pry1erExmEM23/build/
/clsAB/Pry1erExmEM23/nbproject/private/
/clsAB/ADTs02a/build/
/clsAB/ADTs02a/dist/
/clsAB/ADTs02a/nbproject/private/
/clsAB/ADTs02ba/nbproject/private/
/clsAB/EjerciciosSetsBCa/nbproject/private/
/clsAB/EjerciciosSetsBCa/build/
/clsAB/ProblemasQueuesBEa/build/
/clsAB/ProblemasQueuesBEa/nbproject/private/
/clsAB/ADTs02p/build/
/clsAB/ADTs02p/nbproject/private/
/clsAB/ProblemasQueuesBFa/build/
/clsAB/ProblemasQueuesBFa/nbproject/private/
/clsAB/ProblemasQueuesBGa/build/
/clsAB/ProblemasQueuesBGa/nbproject/private/
/clsAB/Rcrsv01a/build/
/clsAB/Rcrsv01a/nbproject/private/
/clsAB/Rcrsv02a/build/
/clsAB/Rcrsv02a/nbproject/private/
/clsAB/Rcrsv02a/dist/
/clsAB/ADTs04a/build/
/clsAB/ADTs04a/nbproject/private/
/clsAB/ProblemasRcrsvBLa/build/
/clsAB/ProblemasRcrsvBLa/nbproject/private/
/clsAB/ProblemasRcrsvBMa/build/
/clsAB/ProblemasRcrsvBMa/nbproject/private/
/clsAB/2doExmEM19/build/
/clsAB/2doExmEM19/nbproject/private/
/clsAB/ADTs03a/dist/
/clsAB/ProblemasQueuesBEa/dist/
/clsAB/Pry2doExmEM23/build/
/clsAB/Pry2doExmEM23/nbproject/private/
/clsAB/ADTs05a/build/
/clsAB/ADTs05a/dist/
/clsAB/ADTs05a/nbproject/private/
/clsAB/ProbleLnkStrwN02a/build/
/clsAB/ProbleLnkStrwN02a/nbproject/private/
/clsAB/ADTs07a/build/
/clsAB/ADTs07a/nbproject/private/
